
<link rel="stylesheet" type="text/css" href="styles.css" />

.header {
    display: flex;
    justify-content: center;
}

.main {
    display: flex;
    justify-content: center;
    gap: 48px;
}

.section {
    display: flex;
    gap: 32px;
}


