/*設定*/
.body{
    margin: 0;
    position: relative;
    font-family: "ＭＳ Ｐ明朝", serif;
}

/*ヘッダー*/
.header{
    width: 100%;
    height: 90px;
    /* background-color:#7D0000; */
    position: fixed;
    /* position: absolute; */
    top: 0;
    left: 0;
    z-index: 10;
    border-bottom: 4px solid #281a14;
}

.cp_bgpattern10 {
	background-color: rgb(97, 4, 12);
	background-image:
	 linear-gradient(45deg, rgb(84, 1, 35) 25%, transparent 25%,
	  transparent 75%, rgb(132, 7, 57) 75%, rgb(74, 2, 31)),
	 linear-gradient(-45deg, rgb(91, 2, 37) 25%, transparent 25%,
	  transparent 75%, rgb(99, 2, 41) 75%, rgb(88, 4, 38));
	background-size: 20px 20px;
	background-position: 0 0, 10px 10px;
}

.header-logo{
    /* width: 70px;
    height: 70px; */
    position: absolute;
    top: 8px;
    left: 30px;
}

.header-img{
    width: 70px;
    height: 70px;
}

.header-nav{
    position: absolute;
    top: 15%;
    right: 5%;
}
.header-list{
    list-style: none;
    display: flex;
    gap: 60px;
    padding: 0;
    margin-top: 23px;
    /* justify-content: flex-end; */
}

.header-link{
    color: white;
    font-weight: bold;
    font-size: 17px;
    
}

/*メイン*/

.main{
    background-color: #f4f3ef;
    
}

/*モーダル*/
.modal-container{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 50%);
    position: fixed;
    overflow: auto;
      opacity: 0;
      visibility: hidden;
      transition: .3s;
    box-sizing: border-box;
    z-index: 10;
  }
  
  /*モーダル本体の擬似要素の指定*/
  .modal-container:before{
      content: "";
      display: inline-block;
      vertical-align: middle;
      height: 100%;
  }
  /*モーダル本体に「active」クラス付与した時のスタイル*/
  .modal-container.active{
      opacity: 1;
      visibility: visible;
  }
  .modal-body{
    width: 700px;
    height: 400px;
    background-color: rgb(243, 239, 239);
    z-index: 20;
    margin-left: 28%;
    opacity: 0.9;
    position: fixed;
    border: 2px solid;
    top: 100px;
  }
  
  
  .modal-button{
    background-color: rgba(0, 0, 0, 60%);
    width: 70px;
    height: 30px;
    margin: 0 auto 0 0;
    cursor: pointer;
  }

  .stage-in{
    padding: 50px 40px ;
  }

  .modal-title{
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
    color: rgb(139, 21, 21);
  }
  
  .modal-detail{
    font-size: 25px;
    margin-bottom: 30px;
  }
  
  .modal-close{
    padding: 10px;
  }

/*自己紹介*/
.mizu-title{
    position: absolute;
    font-size: 40px;
    text-align: center;
    top: 7%;
    left: 40%;
    font-weight: bold;
    
}
.mizu{
    display: flex;
    gap: 100px;
    margin-left: 14%;
}


.mizu-img{
    margin-top: 30%;
    /* margin-left: 15%; */
}

.mizu-img2{
    margin-top: 10%;
    z-index: 1;
}

.mizu-int{
    font-size: 20px;
    margin-top: 30%;
    color: white;
    line-height: 50px;
    padding: 30px 30px;
    border:4px solid #281a14 ;
    
}

.mizu-int2{
    width: 40%;
    margin-top: 20%;
    font-size: 20px;
    color: white;
    line-height: 50px;
    padding: 30px 30px;
    border:4px solid #281a14 ;
}

.js-fadein{
    display: none;
}

/*メンバー*/
.member{
    width: 100%;
    margin-top: 200px;
}

.team-member{
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 60px;
}
.member-link{
    width: 284px;
}
.member-list{
    /* width: 100%; */
    /* margin: 0 auto; */
    display: flex;
    gap: 80px;
    /* padding-left: 10%; */
    list-style: none;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 100px;
}
.member-naka{
    border: 3px solid  #281a14 ;
    border-top: none;
}
.member-title{
    font-weight: bold;
    padding-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    line-height: 30px
}

.member-detail{
    text-align: center;
    padding: 0 20px 20px 20px;
}

/*フッフッター*/

.footer{
    width: 100%;
    height: 300px;
    position: relative;
}

.footer-logo{
    position: absolute;
    top: 60px;
    left: 80px;
}

.footer-bun{
    position: absolute;
    top: 100px;
    right: 80px;
    gap: 150px;
    display: flex;
}
.footer-naka{
    color: white;
    font-size: 30px;
}
