/*設定*/
.body{
    margin: 0;
    position: relative;
}

/*ヘッダー*/
.header{
    width: 100%;
    height: 90px;
    background-color:#7D0000;
    position: fixed;
    /* position: absolute; */
    top: 0;
    left: 0;
    z-index: 10;
}

.header-logo{
    /* width: 70px;
    height: 70px; */
    position: absolute;
    top: 8px;
    left: 30px;
}

.header-img{
    width: 70px;
    height: 70px;
}

.header-nav{
    position: absolute;
    top: 15%;
    right: 5%;
}
.header-list{
    list-style: none;
    display: flex;
    gap: 60px;
    padding: 0;
    /* justify-content: flex-end; */
}

.header-link{
    color: white;
    font-weight: bold;
    font-size: 17px;
    
}

/*メイン*/

.main{
    background-color: #f4f3ef;
}

/*モーダル*/
.modal-container{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 50%);
    position: fixed;
    overflow: auto;
      opacity: 0;
      visibility: hidden;
      transition: .3s;
    box-sizing: border-box;
    z-index: 10;
  }
  
  /*モーダル本体の擬似要素の指定*/
  .modal-container:before{
      content: "";
      display: inline-block;
      vertical-align: middle;
      height: 100%;
  }
  /*モーダル本体に「active」クラス付与した時のスタイル*/
  .modal-container.active{
      opacity: 1;
      visibility: visible;
  }
  .modal-body{
    width: 700px;
    height: 400px;
    background-color: orangered;
    z-index: 20;
    margin-left: 28%;
    opacity: 0.8;
    position: fixed;
    border: 2px solid;
    top: 100px;
  }
  
  
  .modal-button{
    background-color: rgba(0, 0, 0, 60%);
    width: 70px;
    height: 30px;
    margin: 0 auto 0 0;
    cursor: pointer;
  }
  
  

/*自己紹介*/
.mizu{
    display: flex;
    gap: 150px;
    margin-left: 18%;
}


.mizu-img{
    margin-top: 10%;
    /* margin-left: 15%; */
}

.mizu-img2{
    margin-top: 10%;
    z-index: 1;
}

.mizu-int{
    font-size: 30px;
    margin-top: 20%;
}

.mizu-int2{
    /* margin-left: 20%; */
    margin-top: 20%;
    font-size: 20px;
}

.js-fadein{
    display: none;
}

/*メンバー*/
.member{
    width: 100%;
    margin-top: 200px;
}

.team-member{
    text-align: center;
}
.member-link{
    width: 284px;
}
.member-list{
    /* width: 100%; */
    /* margin: 0 auto; */
    display: flex;
    gap: 80px;
    /* padding-left: 10%; */
    list-style: none;
    margin-left: 15%;
}

