.body{
    margin: 0;
}

.main{
padding: 30px;
background-color: #333;
margin: 100px;;
}


#contents{
width:100%;
font-size:50px;
margin: 40px auto;
color:aqua;
}

.tomomain{
    text-align: center;
}

.titlel {
    color: gold;
    position: fixed;
    background-color: gold;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 10;
}

.tomofont{
    text-align: center;
}


.big{
    background-image: url(../img/);
    position: relative;
}

.big img{
    object-fit: cover;
    /* height: 1000px; */
    height: auto;
    width: 100%;
    
}

.side{
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 30px;
}

.last {
    color: silver;
    background-color: silver;
    width: 100%;
    left: 0;
    bottom: 0;
    height: 30px;
}

.mizuki {
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 30px;
    text-align: center;
    font-size: 20px;
}

.mizuki img{
    object-fit: cover;
}

.yuuchi {
    flex-direction: column;
    justify-content: flex-end;
    text-align: center
}

.yuchan{
    font-size: 30px;
}



.kondou {
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    font-size: 20px;
}

.kanedou{
    font-size: 30px;
}

.byself {
    flex-direction: row;
    justify-content: center;
    position: absolute;
    top: 50%;
    right: 30px;
}

.header {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 40px;
    background: #eee;
    box-sizing: border-box;
}

.myphoto {
    border-radius: 200px;
    flex-direction: column;
    justify-content: center;
    object-fit: cover;
}

.name{
/* width: 1000px;
margin-right: auto;
margin-left: auto; */
/* padding-left: 800px;
position: absolute;
top: 100%;
right: 20%;
line-height: 10px; */
font-size: 13px;
margin: auto;
}
/* h2{
    display: flex;
} */
.school{
    width: 170%;
    line-height: 20px;
}

.hobbycontent{
    display: flex;
    justify-content: space-between;
}

.mizukiphoto{
    border-radius: 30px;
    object-fit: cover;
    font-size: 30px;
}

.yuuchiphoto{
    border-radius: 30px;
    object-fit: cover;
}

.nicname{
    display: flex;
    justify-content:space-between;
}

.section p{
    writing-mode: horizontal-tb;
}

.content{
    text-align: center;
    width: 200%;
}

.member{
    text-align: center;
}

.under {
    display: flex;
    justify-content: space-around;
    border-radius: 30px;
}

.top{
    display: flex;
    justify-content: space-around;
    border-radius: 30px;
}

.hobby[
    display: flex;
    justify-content: spase-around
]

.othername{
    display: flex;
    justify-self: space-around;
}

.konndouphoto{
    border-radius: 30px;
    object-fit: cover;
}